.sidebarchat{
    display: flex;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #f6f6f6;
}
.sidebarchat:hover{
    background-color: #ebebeb;
}
.sidebarchat__info {
    margin-left: 15px;
    display: flex;
    align-items: center;
}
.sidebarchat__info > h2{
    font-size: 16px;
    margin-bottom: 8px;
}
.add-btn{
    width: fit-content;
    margin: 20px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #0a8d48;
}

.add-btn > .MuiSvgIcon-root{
    color: white;
    font-size: 32px;
    padding: 0 !important;
}

.add-btn:hover{
    background-color: #056e36;
}

a{
    text-decoration: none;
    color: black;
}